* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/* 
- vi tri
- kich thuoc
- mau sac 
- kieu dang */


/* css dung chung */

.text-white {
    color: #fff !important;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: calc(100%/3);
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.pull-right {
    float: right;
}

.btn {
    background: #000;
    color: #fff;
    padding: 8px 16px;
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #ccc;
    color: #000;
}


/* main */

#main {}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
    font-size: 1.5rem;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: inline-block;
}

#nav>li:hover>a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0px 16px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 1.4rem;
}

#header .mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu,
#header .search-btn {
    float: right;
    padding: 0px 24px;
}

#header .search-btn:hover {
    background: #f44336;
    cursor: pointer;
}

#header .mobile-menu:hover {
    background: #ccc;
}

#header .mobile-menu:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 1.5rem;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 1.5px #000;
}

#slider .text-heading {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
}

#slider .text-discription {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 25px;
}

#content {}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 47px;
}

#content .member-list .name {
    font-size: 1.5rem;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}


/* tour section */

.tour-section {
    background: #000;
}

.ticket-list {
    list-style: none;
    background: #fff;
    margin-top: 40px;
}

.ticket-list li {
    line-height: 22.5px;
    color: #757575;
    font-size: 1.5rem;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    background: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
}

.ticket-list .quatity {
    float: right;
    width: 24px;
    height: 24px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 16px;
}

.ticket-list-item {
    margin-top: 16px;
    margin-bottom: 0;
    line-height: 22.5px;
}

.ticket-list-item .ticket-img {
    width: 100%;
    display: block;
}

.ticket-list-item .ticket-img:hover {
    opacity: 0.6;
}

.ticket-list-item .ticket-content {
    background: #fff;
    padding: 16px;
}

.ticket-list-item .ticket-heading {
    font-size: 1.5rem;
}

.ticket-list-item .ticket-sub-heading {
    font-size: 1.5rem;
    opacity: 0.6;
    margin-top: 15px;
}

.ticket-list-item .ticket-about {
    font-size: 1.5rem;
    margin: 15px 0;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease .5s;
}

.model-header {
    background: #009688;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 129px;
    font-size: 3rem;
    letter-spacing: 4px;
}

.model-header .icon-bag {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
}

.modal-close:hover {
    background: #ccc;
    color: #000;
}

.modal-body {
    padding: 16px;
    line-height: 22.5px;
}

.modal-label {
    display: block;
    font-size: 1.5rem;
}

.modal-input {
    padding: 8px;
    border: 1px solid #ccc;
    margin: 15px 0;
    font-size: 1.5rem;
    width: 100%;
    line-height: 22.5px;
}

.modal #pay-btn {
    width: 100%;
    height: 55px;
    background: #009688;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.modal #pay-btn:hover {
    background: #ccc;
    color: #000;
}

.modal-footer {
    font-size: 1.5rem;
    padding: 16px;
    float: right;
}

.modal-footer .help {
    color: #2196f3;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 1.8rem;
    line-height: 1.5;
}

.contact-info i {
    margin-right: 16px;
}

.contact-form .input {
    font-size: 1.5rem;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    line-height: 22.5px;
}

.map-section {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
    color: #757575;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-icon {
    text-decoration: none;
    color: #757575;
}

#footer .social-icon:hover {
    opacity: 0.5;
}

@keyframes modalFaceIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}